* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

li {
  list-style: none;
}

/* -------- open -------- */
.screenshot {
  width: 1125px;
  height: 2436px;
  position: relative;
}

.screenshot img {
  width: 100%;
}

.icon a {}

.icon a img {
  width: 172px;
  height: 172px;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  bottom: 1191px;
  right: 348px;
}


/* -------- header -------- */
.header {
  width: 100%;
  height: 80px;
  background-color: #2B3467;
  color: aliceblue;
  position: relative;
}

.header img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* .header h1 {
  line-height: 80px;
  text-align: center;
} */

/* ------- lnb_menu -------- */
#lnb_chk {
  display: none;
}

#lnb_chk:checked~.lnb_ham_menu {
  display: block;
}

#lnb_chk~.lnb_ham_menu {
  display: none;
}

#lnb_chk:checked~.label .open_lnb {
  display: none;
}

#lnb_chk:checked~.label .open_lnb {
  display: block;
}

#lnb_chk~.label .open_lnb {
  display: block;
}

#lnb_chk~.label .close_lnb {
  display: none;
}

/* -------- label -------- */
.label {
  position: absolute;
  left: 20px;
  top: 30px;
}

.label label {
  display: block;
  width: 40px;
  height: 40px;
  color: white;
}

.lnb_ham_menu {
  position: absolute;
  top: 80px;
  left: 0;
}

.lnb_ham_menu li {
  width: 100px;
  height: 50px;
  background-color: #1B2430;
  color: white;
  text-align: center;
  line-height: 50px;
}


.lnb_web_outer {
  display: none;
}

/* 저해상도 모니터에서 display:block 속성 부여*/

.lnb_web_menu {
  overflow: hidden;
}

.lnb_web_menu li {
  width: 25%;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  background-color: #1B2430;
  color: white;
}

/* ------- wrap -------- */
.visual_main {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.visual_main img {
  width: 100%;
}

.career {
  width: 100%;
  height: auto;
}

.KBO>ul {
  height: 110px;
  background-color: #2B3467;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.KBO ul p {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  color: aliceblue;
}

.KBO ul li {
  font-size: 16px;
  color: #fff;
}


/* ------- footer -------- */
.footer {
  width: 100%;
  height: 30px;
  background-color: #888;
  bottom: 0;
  position: fixed;
  color: white;
}

.footer h4 {
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}

/* -------- media query -------- */
@media all and (min-width:769px) {

  .header .label,
  .header .lnb_ham_menu {
    display: none;
  }

  .lnb_web_outer {
    display: block;
  }

  .visual_main {
    width: 48%;
    /*  height: auto; */
    float: left;
    margin-top: 1%;
    margin-left: 1%;
  }

  .career {
    width: 48%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 1%;
    padding-bottom: 10px;
  }


  .KBO>ul {
    height: 60px;
    background-color: #2B3467;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .KBO ul p {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    color: aliceblue;
  }

  .KBO ul li {
    font-size: 12px;
    color: #fff;
  }

}


@media all and (min-width:1025px) {

  .header,
  .wrap,
  .footer,
  .lnb_web_menu {
    width: 1024px;
    margin: 0 auto;
  }

  .header_ex,
  .lnb_web_outer {
    background-color: #fff;
  }

}